@import "bootstrap/less/bootstrap";
@import (less) "fixed-data-table/dist/fixed-data-table.css";

@border-style: 1px solid #ddd;

.main.container {
  margin-top: 80px;
}

.document-row {
  cursor: pointer;
}

.document-edit {
  .left, .right {
    position:   absolute;
    top:        50px;
    bottom:     0;
    padding:    10px;
    max-height: 100%;
    overflow:   hidden;
  }

  .left {
    left: 0;
    right: 50%;
    padding-right: 5px;
  }

  .right {
    left: 50%;
    right: 0;
    padding-left: 5px;
  }
}

.tabs {
  .tab {
    padding: 10px;

    border-left:   @border-style;
    border-right:  @border-style;
    border-bottom: @border-style;
  }

  li > div {
    padding: 10px;
    cursor: pointer;

    margin-right: 2px;
    line-height: @line-height-base;
    border: 1px solid transparent;
    border-radius: @border-radius-base @border-radius-base 0 0;

    &:hover {
      border-color: @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color @nav-tabs-border-color;
    }
  }

  li.active > div{
    font-weight: bold;
    color: @nav-tabs-active-link-hover-color;
    background-color: @nav-tabs-active-link-hover-bg;
    border: 1px solid @nav-tabs-active-link-hover-border-color;
    border-bottom-color: transparent;
    cursor: default;
  }
}

.data-table {
  .public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-image: none;
  }
}

.toolbox {
  position: absolute;
  top:      70%;
  left:     0;
  right:    0;
  bottom:   0;

  padding:  10px 5px 10px 10px;

  .tabs .tab {
    position: absolute;
    top:      50px;
    left:     10px;
    right:    5px;
    bottom:   10px;

    overflow: scroll;
  }
}
