@import "bootstrap/less/bootstrap";
@import (less) "fixed-data-table/dist/fixed-data-table.css";

@border-style: 1px solid #ddd;
@fade-time:    500ms;

.fade-enter {
  .opacity(0);

  &.fade-enter-active {
    .opacity(1);
    .transition(opacity @fade-time;);
  }
}

.fade-leave {
  .opacity(1);
  .transition(opacity @fade-time;);

  &.fade-leave-active {
    .opacity(0);
  }
}

body.iframe-body {
  overflow: hidden;
}

a.link {
  cursor: pointer;
}

code {
  display: block;
  text-align: left;
}

.main.container {
  margin-top: 80px;
}

.document-list {
  .list-group {
    margin-bottom: 20px;
  }

  .document-edit-buttons {
    float: right;
  }
}

.document-edit {
  .left, .right {
    position:   absolute;
    top:        50px;
    bottom:     0;
    padding:    10px;
    max-height: 100%;
    overflow:   hidden;
  }

  .left {
    left:          0;
    right:         50%;
    padding-right: 5px;
  }

  .right {
    left: 50%;
    right: 0;
    padding-left: 5px;
  }
}

.tabs {
  .tab {
    padding: 10px;

    border-left:   @border-style;
    border-right:  @border-style;
    border-bottom: @border-style;
  }

  li > div {
    padding:       10px;
    cursor:        pointer;

    margin-right:  2px;
    line-height:   @line-height-base;
    border:        1px solid transparent;
    border-radius: @border-radius-base @border-radius-base 0 0;

    &:hover {
      border-color: @nav-tabs-link-hover-border-color @nav-tabs-link-hover-border-color @nav-tabs-border-color;
    }
  }

  li.active > div{
    font-weight:         bold;
    color:               @nav-tabs-active-link-hover-color;
    background-color:    @nav-tabs-active-link-hover-bg;
    border:              1px solid @nav-tabs-active-link-hover-border-color;
    border-bottom-color: transparent;
    cursor:              default;
  }
}

.data-table {
  .public_fixedDataTable_header, .public_fixedDataTable_header .public_fixedDataTableCell_main {
    background-image: none;
  }
}

.toolbox {
  position: absolute;
  top:      50%;
  left:     0;
  right:    0;
  bottom:   0;

  padding:  10px 5px 10px 10px;

  .tabs .tab {
    position: absolute;
    top:      53px;
    left:     10px;
    right:    5px;
    bottom:   10px;

    overflow: scroll;
  }

  .toolbox-file-choose {
    margin-top: 10px;

    .form-inline label {
      padding-top: 8px;
      text-align:  right;
    }
  }
}

.new-file-tab-button,
.new-layer-tab-button {
  float:       right !important;
  font-weight: bold;

  > div {
    height:       44px;
    margin-right: 0 !important;
  }
}

.upload-form {
  max-width: 640px;
  margin:    0 auto;

  .file-caption {
    border-top-right-radius:    0;
    border-bottom-right-radius: 0;
  }

  .btn > span {
    padding-left: 8px;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }

  .btn-file input[type=file] {
    position:   absolute;
    top:        0;
    right:      0;
    min-width:  100%;
    min-height: 100%;
    font-size:  100px;
    text-align: right;
    filter:     alpha(opacity=0);
    opacity:    0;
    outline:    none;
    background: white;
    cursor:     inherit;
    display:    block;
  }

  .progress {
    margin-top: 10px;
  }
}

.upload-new-file {
  .delimiter-select {
    margin-top: 20px;

    label {
      padding-top: 8px;
      text-align:  right;
    }
  }
}

.remove-tab-button,
.layer-tab-buttons {
  margin-left: 10px;
}

.toolbox-new-layer {
  .form-inline label {
    padding-top: 8px;
    text-align:  right;
  }
}

.rename-layer-form-group,
.new-document-form-group {
  height: 30px;

  label {
    padding-top: 8px;
    text-align:  right;
  }
}

.visualization-wrapper {
  text-align: center;

  .layer-chooser {
    position: relative;
    top: -50px;
  }

  .visualization .triangle text {
    fill: #333;
    font-size: 12px;
    font-family: @font-family-base;
    text-anchor: end;
  }
}

.iframe-generate-modal-body {
  height: 34px;

  label {
    margin-right: 8px;
  }
}
